* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Poppins", sans-serif;
}
.mx-auto {
    margin: auto !important;
}
.m-0 {
    margin: 0 !important;
}
.mt-1 {
    margin-top: 1rem !important;
}
.mt-2 {
    margin-top: 2rem !important;
}
.mt-3 {
    margin-top: 3rem !important;
}
.mt-4 {
    margin-top: 4rem !important;
}
.mt-5 {
    margin-top: 5rem !important;
}
.mt_5 {
    margin-top: .5rem !important;
}
.mb_5 {
    margin-bottom: .5rem !important;
}
.mb-1 {
    margin-bottom: 1rem !important;
}
.mb-2 {
    margin-bottom: 2rem !important;
}
.mb-3 {
    margin-bottom: 3rem !important;
}
.mb-4 {
    margin-bottom: 4rem !important;
}
.ml-0 {
    margin-left: 0 !important;
}
.ml_5 {
    margin-left: .5rem !important;
}
.ml-1 {
    margin-left: 1rem !important;
}
.ml-2 {
    margin-left: 2rem !important;
}
.mr_5 {
    margin-right: .5rem !important;
}
.mr-1 {
    margin-right: 1rem !important;
}
.mr-2 {
    margin-right: 2rem !important;
}
.cursor-pointer {
    cursor: pointer !important;
}
.height-100 {
    height: 100vh;
}
/* Button */
button.btn.btn-primary {
    background: #04353C;
    font-size: 14px;
}
/* Colors */
.text-primary {
    color: #04353C !important;
}
.text-grey {
    color: #707070 !important;
}
/* Fonts */
.f12 {
    font-size: 12px;
}
.f14 {
    font-size: 14px;
}
.f16 {
    font-size: 16px;
}
.f18 {
    font-size: 18px;
}
.f24 {
    font-size: 24px;
}
.fw-300 {
    font-weight: 300;
}
.fw-500 {
    font-weight: 500;
}
/* Parent Page */
section.content {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: bottom right !important;
    height: 100vh;
    position: relative;
}
section .header {
    padding: 20px 0px;
}
/* Homepage */
.weather-form .form-group {
    margin-bottom: 1rem;
    position: relative;
}
.weather-form .form-group input {
    height: 70px;
    padding: 15px 120px 15px 80px;
}
.weather-form .form-group input.form-control::placeholder {
    font-size: 18px;
}
.weather-form .form-group .buttons {
    position: absolute;
    top: 15%;
    background-color: #04353C;
}
.weather-form .form-group img.add-icon {
    left: 1%;
    border-radius: 50%;
    padding: 15px;
}
.weather-form .form-group button.add-city {
    right: 1%;
    border-radius: 10px;
    padding: 13px 25px;
    color: #FFF;
}
/* Weather Card */
.sub-card-title span {
    font-weight: 500;
}
/* Weather Card */
.weather-list {
    margin: 5rem auto;
}
.weather-card {
    position: relative;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    padding: 40px 30px;
    min-width: 17%;
}
.weather-card img.close {
    position: absolute;
    top: 3%;
    right: 4%;
    background: none;
}
.weather-card.lower-padding {
    padding: 30px 30px 20px;
}
.weather-card .card-title {
    font-weight: 600;
    font-size: 24px;
    opacity: 1;
}
.weather-card .center-card img {
    margin: auto;
}
.weather-card .center-card {
    text-align: center;
}
.weather-card .temperature {
    font-size: 40px;
    font-weight: 600;
    margin: 20px auto;
}
.weather-card button.btn.btn-primary.view-city {
    width: 75%;
}
/* Temperature view */
.temperature-group {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    max-width: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
}
.temperature-group::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #F5F5F5;
}
.temperature-group::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
    height: 8px;
}
.temperature-group::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 2px #5D979B;
    background-color: #5D979B;
}
.temperture-group-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.temperture-group-item img {
    width: 50%;
}
.back-image-icon {
    background: #ffffff;
    border: 1px solid #cfddf6;
    border-radius: 50%;
}
/* Footer section */
footer {
    background: #04353C;
    position: fixed;
    bottom: 0;
    max-width: 100%;
    min-width: 100%;
}
