* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Poppins", sans-serif;
}
.mx-auto {
    margin: auto !important;
}
.m-0 {
    margin: 0 !important;
}
.mt-1 {
    margin-top: 1rem !important;
}
.mt-2 {
    margin-top: 2rem !important;
}
.mt-3 {
    margin-top: 3rem !important;
}
.mt-4 {
    margin-top: 4rem !important;
}
.mt-5 {
    margin-top: 5rem !important;
}
.mt_5 {
    margin-top: .5rem !important;
}
.mb_5 {
    margin-bottom: .5rem !important;
}
.mb-1 {
    margin-bottom: 1rem !important;
}
.mb-2 {
    margin-bottom: 2rem !important;
}
.mb-3 {
    margin-bottom: 3rem !important;
}
.mb-4 {
    margin-bottom: 4rem !important;
}
.ml-0 {
    margin-left: 0 !important;
}
.ml_5 {
    margin-left: .5rem !important;
}
.ml-1 {
    margin-left: 1rem !important;
}
.ml-2 {
    margin-left: 2rem !important;
}
.mr_5 {
    margin-right: .5rem !important;
}
.mr-1 {
    margin-right: 1rem !important;
}
.mr-2 {
    margin-right: 2rem !important;
}
/* Fonts */
.f16 {
    font-size: 16px;
}
.f18 {
    font-size: 18px;
}
.f24 {
    font-size: 24px;
}
/* Parent Page */
section.content {
    height: 100vh;
    position: relative;
}
section .header {
    padding: 20px;
}
/* Homepage */
.weather-form .form-group {
    margin-bottom: 1rem;
    position: relative;
}
.weather-form .form-group input {
    height: 70px;
    padding: 15px 80px 15px 120px;
}

.weather-form .form-group .buttons {
    position: absolute;
    top: 15%;
    background-color: #04353C;
}
.weather-form .form-group img.add-icon {
    left: 1%;
    border-radius: 50%;
    padding: 15px;
}
.weather-form .form-group button.add-city {
    right: 1%;
    border-radius: 10px;
    padding: 13px 25px;
    color: #FFF;
}
/* Footer section */
footer {
    background: #04353C;
    position: fixed;
    bottom: 0;
    width: 100%;
}
