@media (min-width: 1199px) {
    section.content {
        padding-bottom: 10%;
        height: auto;
    }
}
@media (min-width: 991px) and (max-width: 1199px) {
    section.content {
        padding-bottom: 15%;
        height: auto;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    section.content {
        padding-bottom: 15%;
        height: auto;
    }
    .weather-card {
        min-width: 30%;   
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    section.content {
        padding-bottom: 15%;
        height: auto;
    }
    .weather-card {
        min-width: 45%;   
    }
}
@media screen and (max-width: 480px) {
    section.content {
        padding-bottom: 100%;
        height: auto;
    }
    .weather-card {
        min-width: 45%;   
    }
    .weather-list {
        justify-content: center !important;
    }
}