@media (min-width: 1199px) {
    section.content {
        padding-bottom: 23%;
        height: 100%;
    }
}
@media (min-width: 991px) and (max-width: 1199px) {
    section.content {
        padding-bottom: 20%;
        height: 100vh;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    section.content {
        padding-bottom: 35%;
        height: 100vh;
    }
    .weather-card {
        min-width: 30%;   
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    section.content {
        padding-bottom: 15%;
        height: auto;
    }
    .weather-card {
        min-width: 45%;   
    }
    .weather-form .form-group img.add-icon {
        left: 2%;
    }
    .weather-form .form-group button.add-city {
        right: 2%;
    }
}
@media screen and (max-width: 480px) {
    section.content {
        padding-bottom: 90%;
        height: auto;
    }
    .weather-card {
        min-width: 45%;
        padding: 20px 15px;
    }
    .weather-card .center-card img {
        margin: unset;
    }
    .weather-card .center-card {
        text-align: left;
    }
    .weather-list {
        justify-content: center !important;
    }
    .weather-form .form-group img.add-icon {
        left: 2%;
    }
    .weather-form .form-group button.add-city {
        right: 2%;
    }
    .temperature-group::-webkit-scrollbar {
        height: 5px;
    }
    .sub-card-title.text-grey.f14.m-0 {
        font-variant-caps: all-petite-caps;
    }
    .mt-1 {
        margin-top: .5rem !important;
    }
}